@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcceptedOrdered</title>
</head>
<body>
    <div>

        @{
            ViewBag.Title = "AcceptedOrder";
        }

        <h2>AcceptedOrder</h2>
    </div>
</body>
</html>

